/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: IBM Plex Mono, monospace;
  font-weight: 400; 
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background-color:#f4f4f4;
  color:black; 
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0%;
  text-align: left;
  /*text-transform: uppercase;*/
}

h2 {
  font-size: 20px;
  font-weight: 700;
  /*text-transform: uppercase;*/
}

h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

a {
  color: black;
}


a:visited {
  /* visited link */
  color: rgb(0, 0, 0);
}

a:active {
  /* selected link */
  color: rgb(0, 0, 0);
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: rgb(0, 0, 0);
}


.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid;
  background-color: white;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.header_logo{
  height: 70px;
}

.navigation-list {
  list-style-type: none;
  list-style: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li:before {
  content: "";
  /* Hier wird der Inhalt nur in der Navigation gelöscht, sodass keine Pfeile angezeigt werden */
}

.navigation-list__item{
  text-transform:uppercase;
}

.profile {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
padding-bottom: 200px;
padding-top: 30px;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile > * {
-webkit-box-flex: 1;
    -ms-flex: 1 1 calc(250px + 1em);
        flex: 1 1 calc(250px + 1em)
}

.box1{
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
padding: 37px;
}

* {
  box-sizing: border-box;
}

.box2{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
padding-top: 37px;
padding-left: 80px;
flex-wrap: wrap;
}

.box2-item-right {
  flex: 50%;
  max-width: 500px;
}

@media (max-width: 500px) {
  .box2-item-right, .box2-item-left {
    flex: 100%;
  }
}

.box2_contact{
width: 700px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 37px;
text-align: center;
}

.box2_about{
width: 700px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 37px;
padding-left: 80px;
text-align: center;
}

.box2_about h2 {
  text-align: left;
  margin: 0;
}
.box2_about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box2_about h1 {
  text-align: left;
  margin: 0;
}

.box2_about p {
  text-align: left;
  margin-top: 30px; /* Du kannst den Wert nach Bedarf ändern */
}

.box1_about_h3 {
  text-align: left;
  margin-top: 30px; /* Du kannst den Wert nach Bedarf ändern */
}

.profile__portrait {
width: 350px;
padding-top: 7px;
}

.box3{
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}


.heading{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
  padding-top: 67px;
  padding-left: 37px;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color:rgb(240 240 232);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  /*border-bottom: 1px solid black;*/
  font-size: 16px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: rgb(240 240 232);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid black;
  font-size: 16px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

a.button {
  /* overwrites browser defaults and resets the border */
  border: 1px solid black;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #f4f4f4;
  color: black;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  /*border-bottom: 1px solid black;*/
  font-size: 16px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.button__secondary {
  background-color: rgb(2, 80, 126);
  color: white;
  font-size: 16px;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  text-align: left;
}

ul li:before {
  content: "➔"; /* Hier kannst du das gewünschte Symbol oder Text vor den Listenpunkt einfügen */
  color: #000000; /* Farbe des Symbols anpassen, falls gewünscht */
  margin-right: 5px; /* Abstand zwischen Symbol und Listenpunkt anpassen, falls gewünscht */
}

.p_left{
  text-align: left;
}

table {
width: 100%;
border-collapse: collapse;
}

table {
border: 2px solid black;
background-color: white;
text-align: center;
}

th {
border: 2px solid black;
background-color: white;
text-align: center;
}

td {
border: 2px solid black;
background-color: white;
text-align: center;
}

.standard-label{
vertical-align: top;
text-align: left;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}


  /* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
    
}
   /* end grid fallback */
   
   @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* Standard: Drei Grid-Elemente pro Zeile */
      grid-gap: 20px;
      justify-content: center;
      padding: 30px;
    }
  
    .grid__item {
      background-color: #dcdcdc;
      width: auto;
      min-height: auto;
      margin: 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    }
  
    @media (max-width: 1200px) {
      /* Bei Bildschirmen mit einer Breite von maximal 1200px */
      .grid {
        grid-template-columns: 1fr 1fr; /* Zwei Grid-Elemente pro Zeile */
      }
    }
  
    @media (max-width: 800px) {
      /* Bei Bildschirmen mit einer Breite von maximal 800px */
      .grid {
        grid-template-columns: 1fr; /* Ein Grid-Element pro Zeile */
      }
    }
  
    /* Für Bildschirme mit einer Breite von maximal 600px */
@media (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .box1, .box2, .box2_about {
    width: 100%;
    padding-left: 37px;
    text-align: left;
  }


  .grid {
    grid-template-columns: 1fr; /* Ein Grid-Element pro Zeile */
  }

  .grid__item {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

/* Für Bildschirme mit einer Breite von maximal 500px */
@media (max-width: 500px) {
  /* Hier kannst du weitere Anpassungen für 500px oder weniger hinzufügen, falls nötig */
}
  }
  