/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: IBM Plex Mono, monospace;
  font-weight: 400; 
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background-color:#f4f4f4;
  color:black; 
}

main {
  margin-top: 100px; /* Passen Sie die Höhe nach Ihren Wünschen an */
  margin-bottom: 150px; /* Passen Sie den Abstand nach Bedarf an, um den Page Footer nicht zu überlappen */
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  z-index: 100; /* Stellen Sie sicher, dass der Page Footer über anderen Inhalten angezeigt wird */
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0%;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}


a:visited {
  /* visited link */
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:hover {
  /* No underlining when hovering over a link */
  cursor: pointer;
  text-decoration: underline;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

a:focus {
  /* No underlining when hovering over a link */
  text-decoration: underline;
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

.header-text {
  font-family: IBM Plex Mono, monospace;
  font-weight: bold;
  font-size: 28px; /* You can adjust the font size as needed */
  text-transform: uppercase;
  margin: 0;
  padding-left: 37px;
  line-height: 70px; /* Adjust the line height to vertically center the text */
}


.page-header {
  position: fixed; /* Make the header fixed */
  top: 0; /* Stick it to the top of the viewport */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 100; /* Set a higher z-index to keep it above other content */
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.header_logo{
  height: 70px;
}

.title-logo {
  font-family: IBM Plex Mono, monospace;
  font-weight: bold;
  font-size: 28px; /* You can adjust the font size as needed */
  text-transform: uppercase;
  margin: 0;
  padding-left: 37px;
}

.navigation-list {
  list-style-type: none;
  list-style: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li:before {
  content: "";
  /* Hier wird der Inhalt nur in der Navigation gelöscht, sodass keine Pfeile angezeigt werden */
}

.navigation-list__item{
  text-transform:uppercase;
}

.navigation-list__item--active {
  text-decoration: underline; /* Unterstreiche den aktiven Link, wenn gewünscht */
  text-transform:uppercase;
}

.profile {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
padding-bottom: 200px;
padding-top: 30px;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile > * {
-webkit-box-flex: 1;
    -ms-flex: 1 1 calc(250px + 1em);
        flex: 1 1 calc(250px + 1em)
}

.box1{
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
padding: 37px;
}

* {
  box-sizing: border-box;
}

.box2{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
padding-top: 37px;
padding-left: 80px;
flex-wrap: wrap;
}

.box2-item-right {
  flex: 50%;
  max-width: 500px;
}

@media (max-width: 500px) {
  .box2-item-right, .box2-item-left {
    flex: 100%;
  }
}

.box2_contact{
width: 700px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 37px;
text-align: center;
}

.box2_about{
width: 700px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 37px;
padding-left: 80px;
text-align: center;
}

.box2_about h2 {
  text-align: left;
  margin: 0;
}
.box2_about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box2_about h1 {
  text-align: left;
  margin: 0;
}

.box2_about p {
  text-align: left;
  margin-top: 30px; /* Du kannst den Wert nach Bedarf ändern */
}

.box1_about_h3 {
  text-align: left;
  margin-top: 30px; /* Du kannst den Wert nach Bedarf ändern */
}

.profile__portrait {
width: 350px;
padding-top: 7px;
}

.box3{
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}


.heading{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
  padding-top: 67px;
  padding-left: 37px;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  text-align: left;
}

ul li:before {
  content: "➔"; /* Hier kannst du das gewünschte Symbol oder Text vor den Listenpunkt einfügen */
  color: #000000; /* Farbe des Symbols anpassen, falls gewünscht */
  margin-right: 5px; /* Abstand zwischen Symbol und Listenpunkt anpassen, falls gewünscht */
}

.p_left{
  text-align: left;
}


.standard-label{
vertical-align: top;
text-align: left;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: 37px;
}


  /* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
    
}
   /* end grid fallback */
   
   @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* Standard: Drei Grid-Elemente pro Zeile */
      grid-gap: 20px;
      justify-content: center;
      padding: 30px;
    }
  
    .grid__item {
      background-color: #ffffff;
      width: auto;
      min-height: auto;
      margin: 0;
      padding: 10px;
      border-radius: 30px;
      /*border: 1px solid black;*/
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    }
  
    .grid__item h2 {
      line-height: 1.2; /* Du kannst den Wert nach Bedarf anpassen */
    }

    .myflix-grid {
      display: grid;
      grid-column: span 2; /* Zwei Grid-Elemente pro Zeile */
    }

    .grid__item:last-child {
      grid-column: span 3; /* Das letzte Grid-Element erstreckt sich über zwei Spalten */
    }

    @media (max-width: 1200px) {
      /* Bei Bildschirmen mit einer Breite von maximal 1200px */
      .grid {
        grid-template-columns: 1fr 1fr; /* Zwei Grid-Elemente pro Zeile */
      }
    }
  
    @media (max-width: 800px) {
      /* Bei Bildschirmen mit einer Breite von maximal 800px */
      .grid {
        grid-template-columns: 1fr; /* Ein Grid-Element pro Zeile */
      }
    }
  
    /* Für Bildschirme mit einer Breite von maximal 600px */
@media (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .box1, .box2, .box2_about {
    width: 100%;
    padding-left: 37px;
    text-align: left;
  }


  .grid {
    grid-template-columns: 1fr; /* Ein Grid-Element pro Zeile */
  }

  .grid__item {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

/* Für Bildschirme mit einer Breite von maximal 500px */
@media (max-width: 500px) {
  /* Hier kannst du weitere Anpassungen für 500px oder weniger hinzufügen, falls nötig */
}
  }
  