:root {
  --primary-color:#737373;
  --secondary-color: rgb(2, 80, 126);
  --background-color:#f4f4f4;
  --header-color: white;
  --text-color: black;
  --primary-font-size: 16px;
  --font-size-bigger: 20px;
  --font-size-heading: 24px;
}

$primary-color:#737373;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighter: lighten($primary-color, 30%);


 * {
    box-sizing: border-box;
  }

body {
    font-family: IBM Plex Mono, monospace;
    font-weight: 400; 
    font-size: var(--primary-font-size);
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    background-color: var(--background-color);
    color: var(--text-color); 
}

%headlines-shared{
    font-weight: 700;
    text-transform: uppercase; 
}

h1 {
    @extend %headlines-shared;
    font-size: var(--font-size-heading);
}
  
h2 {
    @extend %headlines-shared
    font-size: var(--font-size-bigger);
}
  
h3 {
    @extend %headlines-shared;
    font-size: var(--primary-font-size);
}



a {
    color: var(--text-color);
}
  
a:visited {
    color: $primary-color-darker;
}
  
a:active {
    color: $primary-color-lighter;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    color: var(--secondary-color);
}


.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    border-bottom: solid;
    background-color: var(--header-color);

    .page-header__item {
    flex: 0 1 200px;
    align-items: center;

    .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    }
  }
}


.header_logo{
    height: 70px;
}


.navigation-list {
    list-style-type: none;

    li {
    display: inline-block;
    margin-left: 15px;
      
    .navigation-list__item{
    text-transform:uppercase;
    }
  }
}
    

.navigation-list__item:hover{
    font-size: var(--font-size-bigger);
    color: black;
}

.navigation-list__item--active {
    text-decoration: none;
}


.profile {
    max-width: 900px;
    margin: 0 auto;

  .profile__text {
    font-size: 30px;
    flex: 1 1 100px;

  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    }
  }
}


%button-shared {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    color: var(--header-color);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid var(--text-color);
    box-shadow: 10px 5px 5px $primary-color-lighter;
    font-size: var(--primary-font-size);;
    transition: 0.8s opacity;
}

button,.button, a.button{
    @extend %button-shared;
    background-color: var(--primary-color);    

    .button__secondary {
    @extend %button-shared;
    background-color: $primary-color-daker;

    button:hover, 
    button:focus, 
    .button:hover, 
    .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    box-shadow: none;  
    }
  }
}

.content_box {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table {
    background-color: $primary-color-lighter;
    border: solid var(--primary-color);

    .thead {
    background-color: var(--secondary-color);
    text-align: center
  
    .td_th {
    text-align: center;
    padding: 0.5em 1em;
    }
  }
}
 


.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}




  /* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
   /* end grid fallback */
   
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    padding: 30px;
  }
}

.grid__item {
   background-color: $primary-color-lighter;
   width: auto;
   min-height: auto;
   margin: 0;
}
 
.grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
 }


 @media all and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 600px) and (max-width: 800px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 800px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: var(--font-size-heading);
    }
  }

  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 250px);
    }
    to {
      transform: translate(200px, 250px);
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 300px);
    }
    to {
      transform: translate(100px, 300px);
    }
  }

  .cloud-back {
    animation: 33s cloud-move-reverse infinite alternate linear;
  }



/* not working--look into it! */

@keyframes size-nav {
    from{
        transform: scale(1;1);
    }
    to {
        transform: scale(2;2);
    }
}

.animation-nav {
    animation: 4s size-nav infinite alternate linear;
}